* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray-100: #e1e1e6;
  --gray-500: #323238;
  --yellow-500: #f7dd43;
  --background-color: #121214;
}

body.green {
  /* green theme */
  --card-bg-color: #1a1f1b;
  --theme-color: #047c3f;
  --bg-url: url(/assets/bg-green.svg);
}

body.blue {
  /* blue theme */
  --card-bg-color: #202024;
  --theme-color: #338af3;
  --bg-url: url(/assets/bg-blue.svg);
}

body.yellow {
  /* yellow theme */
  --card-bg-color: #1d1c19;
  --theme-color: #f7dd43;
  --bg-url: url(/assets/bg-yellow.svg);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 125%;
  color: var(--gray-100);
  overflow-x: hidden;

  transition: background 0.2s;
  background: var(--background-color) var(--bg-url) no-repeat center top / cover;
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 0 2.5625rem 5rem 2.5625rem;
}

nav {
  width: 100%;
  height: 30px;

  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0.5rem;
}

nav button {
  flex-basis: 50px;
  height: 20px;
  cursor: pointer;
  border: 1px solid var(--gray-500);
  border-radius: 6px;
  font-size: 0.5rem;
  font-weight: 900;
  text-transform: uppercase;

  transition: transform 0.2s;
}

nav button:hover {
  transform: scale(1.1);
}

nav button:nth-child(1) {
  color: var(--gray-100);
  background-color: #047c3f;
}
nav button:nth-child(2) {
  color: var(--gray-100);
  background-color: #338af3;
}
nav button:nth-child(3) {
  color: var(--gray-500);
  background-color: #f7dd43;
}

header {
  margin-top: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

header img {
  width: 97.49px;
  height: auto;
}

h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 125%;
  text-transform: uppercase;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(217, 217, 217, 0.8) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

main {
  margin-top: 3.9375rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.card {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 1.43rem;
  gap: 3.31rem;

  width: fit-content;
  max-width: 320px;

  background: var(--card-bg-color);
  border-bottom: 2px solid var(--theme-color);
  border-radius: 6px;
}

h2 {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;

  font-size: 1.5rem;
  width: fit-content;
  height: 46px;
  color: var(--yellow-500);

  border: 1px solid var(--theme-color);
  border-radius: 6px;
}

h2 span {
  font-size: 0.875rem;
  color: var(--gray-100);
  text-transform: uppercase;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 1.5rem;
  list-style: none;
  width: 100%;
}

li {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 1.375rem;
  min-width: 270px;
}

li + li {
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-500);
}

li time {
  font-weight: 900;
  font-size: 2.25rem;
  color: var(--gray-100);
}

li img {
  width: 50px;
  height: 50px;
}

h2,
li time,
li img {
  transition: transform 0.2s;
}

h2:hover,
li time:hover,
li img:hover {
  transform: scale(1.1);
}

/* ANIMATION */

.card {
  opacity: 0;
  animation: appear 0.5s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* RESPONSIVE */

@media (max-width: 765px) {
  #app {
    width: fit-content;
    max-width: 316px;
    margin: 0 auto;
  }

  nav {
    justify-content: center;
  }
}

@media (max-width: 350px) {
  #app {
    width: fit-content;
    max-width: 316px;
    margin: 0 auto;
    padding: 0 1rem 5rem 1rem;
  }

  li {
    min-width: auto;
  }

  li time {
    font-size: 1.7rem;
  }

  li img {
    width: 40px;
    height: 40px;
  }
}
